# Data Cleaning & Error Reports

While preparing the next notebook, I realized that the data was not as clean as it should be. This notebook is dedicated to cleaning on problem, specifically the date column that contains different formats of dates and some non-dates. We'll want to have a single standard for our dates and mark any rows that have misclassified data fields. 

It is often said that cleaning data is by far the most time consuming part of text analysis. Also, as I mentioned, I didn't notice this problem until the Counting and Visualization notebook. It was a good reminder for me that text analysis is not a linear process. Data cleaning is very recursive, and you'll likely find that you make tweaks and changes throughout your work.

### Goals

1. Convert date field to a standard datetime.
2. Gain familiarity with troubleshooting errors and using Stack Overflow.

This notebook will try to showcase the errors that I encounter while trying to clean. This might seem more cluttered than finding the right code online and applying to the notebook. I want to include the errors and hopefully show my thought process as I try to solve them. There are multiple ways of solving coding errors and can often be a creative process. My solutions below are by no means prescriptive. My hope with this notebook is to provide you with some guidance to deal with the messier aspects of data cleaning and reading error reports.

In [1]:
import re
import pandas as pd

abs_dir = "/Users/williamquinn/Desktop/DH/Python/Teaching/Python-Notebooks/"

In [2]:
data = pd.read_csv(abs_dir + "data/fake-and-real-news-dataset/True.csv", sep = ",")

data['veracity'] = "real"

# We are creating a new variable for our data called "fake" with pd.read_csv.
fake = pd.read_csv(abs_dir + "data/fake-and-real-news-dataset/Fake.csv", sep = ",")

# Assuming the columns are the same in both files, 
# we'll want to add another column value to indicate this is fake news
fake['veracity'] = 'fake'

# We will now override our "data" variable by joining the original "data" with our "fake" data.
data = pd.concat([data, fake], axis=0, sort=False)

print (data.dtypes)
data.head()

title       object
text        object
subject     object
date        object
veracity    object
dtype: object

,title,text,subject,date,veracity
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",real
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",real
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",real
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",real
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",real

## Converting Longform of Dates to Datetime
From our glimpse of the data, we might think that our date field is uniform. Each entry has the same pattern: a month (string) day (numeric), and year (numeric). For starters, we will want to convert the date-as-string to a recognizable datetime. To do this, we'll use the pandas function .to_datetime(). A datetime allows us to order information chronologically. A basic string does not provide any computational information to do that.

I'm unfamiliar with converting month names to datetimes. Instead of testing this code on the entire dataset where I know there are errors, I'll first test this convertion on a smaller test set.

In [3]:
# We can use .sample() to chose 5 random rows.
# Sample also provides a way to grab a fraction of a dataset: .sample(frac = .1)
test = data.sample(n = 5)

test

,title,text,subject,date,veracity
2789,Online ads offer legal option for U.S. electio...,SAN FRANCISCO (Reuters) - The laws that prohib...,politicsNews,"July 13, 2017",real
10525,SARAH HUCKABEE SANDERS Calls Out Fake News…Rep...,A screaming White House reporter stood up and ...,politics,"Jun 28, 2017",fake
2862,Trump Just Threatened To ‘Send In The Feds’ T...,"Holy f*ckballs, it hasn t even been a week sin...",News,"January 24, 2017",fake
11083,HEY “SIMPLETONS”…We’ve Got Great News! The Lef...,Lauren Southern is one tough reporter. She s n...,politics,"Apr 22, 2017",fake
15944,The Angry Left Attacks Trump for Letting 11-Ye...,President Trump just made an 11-year old boy s...,Government News,"Sep 16, 2017",fake

With this smaller dataset, we can ensure that our code works on longform dates. This will save us the headache of trying to solve multiple data problems simultaneously.

Now, we'll try to convert these dates.

In [4]:
test['date'] = pd.to_datetime(test['date'])

test

,title,text,subject,date,veracity
2789,Online ads offer legal option for U.S. electio...,SAN FRANCISCO (Reuters) - The laws that prohib...,politicsNews,2017-07-13,real
10525,SARAH HUCKABEE SANDERS Calls Out Fake News…Rep...,A screaming White House reporter stood up and ...,politics,2017-06-28,fake
2862,Trump Just Threatened To ‘Send In The Feds’ T...,"Holy f*ckballs, it hasn t even been a week sin...",News,2017-01-24,fake
11083,HEY “SIMPLETONS”…We’ve Got Great News! The Lef...,Lauren Southern is one tough reporter. She s n...,politics,2017-04-22,fake
15944,The Angry Left Attacks Trump for Letting 11-Ye...,President Trump just made an 11-year old boy s...,Government News,2017-09-16,fake

Pandas to_datetime() function works very well. It intuitevly recognizes different date formats and converts them properly to a standard date format. For instance, knowing that August and Aug both refer to August is very helpful. In the Coda below, I show how I first attempted to account for this and the errors that caused.

## Reading Error Reports

With our test case working, we can now try converting the date column in the entire dataframe.

In [5]:
data['date'] = pd.to_datetime(data['date'])

# Spoiler: 
# The error is caused by a hyperlink that is in the "date" field. 
# The error report does not know the value is a working hyperlink.
# The report will print a usable hyperlink to the fake news site.
# I wouldn't click it. It is unrelated to troubleshooting this error.

ParserError: Unknown string format: https://100percentfedup.com/served-roy-moore-vietnamletter-veteran-sets-record-straight-honorable-decent-respectable-patriotic-commander-soldier/

This very long error report can be overwhelming at first. Fortunately, you can ignore most of the report here. The most important part to be able to read is usually the last line or two. For our purposes, "ParseError: Unknown string format:" followed by a hyperlink is our error.

I tend to follow a simple routine when I encounter an error report I don't understand. I start by doing a search for the error. For this one, I'll search: "python to_datetime ParserError: Unknown string format:". The first hit looks promising: https://stackoverflow.com/questions/34505579/pandas-to-datetime-valueerror-unknown-string-format.

StackOverflow is a crowdsourced website that provides answers to coding errors. It, too, can be overwhelming at first. Not every answer is helpful, but the site can be very useful once you know the basic patterns of the site. Most questions are posed at the top of the page with an explanation, example of the code, and the error. There might be some comments to the question as well.

Below that, there are answers. Site users can upvote different answers and the person who posed the question can accept it. A green checkmark below the number of votes it received indicates whether it has been accepted.

![image of stack overflow accepted answer](images/stackOverflow-example.png)

The respondent writes, "I think the problem is in data - a problematic string exists." Looking back at our own data, we now might wonder what that strange hyperlink is and if that's our own "problematic string." That is, the problem with our code is we are asking pd.to_datetime() to convert a hyperlink to a date, which just doesn't make sense and breaks.

Fortunately, pd.to_datetime() offers a useful argument for dealing with these kinds of errors. By adding "errors = 'coerce'", we can replace any unrecognized date format with NaT, effectively providing a marker for each row that lacks a date.

In [6]:
data['date'] = pd.to_datetime(data['date'], errors = 'coerce')
# From documentation: "If ‘coerce’, then invalid parsing will be set as NaT."

print (data.shape)
data.head()

(44898, 5)

,title,text,subject,date,veracity
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,2017-12-31,real
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,2017-12-29,real
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,2017-12-31,real
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,2017-12-30,real
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,2017-12-29,real

We can see that the date field has changed to a uniform format: Year-Date-Day, which you might see written as 
```python
'%Y-%m-%d'
```
While the glimpse doesn't show us rows that failed, we can quickly search for them with .query().

In [7]:
data.query('date == "NaT"').head()

,title,text,subject,date,veracity
9358,https://100percentfedup.com/served-roy-moore-v...,https://100percentfedup.com/served-roy-moore-v...,politics,NaT,fake
15507,https://100percentfedup.com/video-hillary-aske...,https://100percentfedup.com/video-hillary-aske...,politics,NaT,fake
15508,https://100percentfedup.com/12-yr-old-black-co...,https://100percentfedup.com/12-yr-old-black-co...,politics,NaT,fake
15839,https://fedup.wpengine.com/wp-content/uploads/...,https://fedup.wpengine.com/wp-content/uploads/...,politics,NaT,fake
15840,https://fedup.wpengine.com/wp-content/uploads/...,https://fedup.wpengine.com/wp-content/uploads/...,politics,NaT,fake

These rows do not have regular dates, and to_datetime() has changed those values to NaT. We can use this new value to remove these rows from our dataset.

In [8]:
data = data.query('date != "NaT"')

data.shape

(44888, 5)

After removing rows that had NaT has a date value, we still have plenty of data. In fact, it looks like we only lost 10 rows (44,898 - 44,888).

## Saving Dataframes

Once we have a dataframe that we plan to analyze, we can save it for future use. Similar to reading in csv's, pandas offers a way to save dataframes as csv's.

In [ ]:
data.to_csv(abs_dir + "data/fake-and-real-news-dataset/dataframe.csv",  
            index=False)

# I want to include the argument "index=False" so that the file does not save a column just for the index.
# Notice also, I can use line breaks after commas to make the cell tidier.

## Conclusion

While this notebook focuses on cleaning a problem in our dataset, it does not quite capture the experience of encountering that problem. In reality, you might not know your dataset has a problem within it. This has two key implications for text analysis
1. Text analysis requires domain analysis. In addition to knowing the data formats and code you're working with, it's also important to understand the domain field of the corpus. The fake news dataset we're using here is meant to help you teach code, not necessarily learn something new about journalism and fake news—though that's always possible! Knowing your data and the subject of the data is crucial to good text analysis.

2. An error report often prompts further data cleaning. I was not aware of the date-problem until I tried something in a later notebook and received an error. This notebook prepares the data cleaning situation for you. But, in reality, you'll likely encounter one of these error reports. While they take time to learn how to interpret, a quick internet search is often you're best place to start.

____

# Coda: An Abandoned Workaround

In order to keep this notebook relatively clean, I've moved my faied attempt at trouble shooting the date problem below. While I want the focus of these notebooks to be accessible, I don't want to completely erase the frustrating deadends I continue to hit. Below was my first attempt at solving this problem. Although it didn't work, the errors and internet searching eventually led me to the right method, which was far easier than what I was trying to do.

### Converting Longform of Dates to Datetime
From our glimpse of the data, we might think that our date field is uniform. Each entry has the same pattern: a month (string) day (numeric), and year (numeric). For starters, we will want to convert the date-as-string to a recognizable datetime. To do this, we'll use our new library, datetime. Datetime has a useful method for converting month names, like December, to a datetime. A datetime allows us to order information chronologically. A basic string does not provide any computational information to do that.

I'm unfamiliar with converting month names to datetimes. Instead of testing this code on the entire dataset where I know there are errors, I'll first test this convertion on a smaller test set.

In [ ]:
# This is a new way to import a library.
# Some libraries have many packages and codes.
# It can often be easier to import only some of the packages than the entire library.
from datetime import datetime

In [ ]:
# We can use .sample() to chose 5 random rows.
# Sample also provides a way to grab a fraction of a dataset: .sample(frac = .1)
test = data.sample(n = 5)

test

With this smaller dataset, we can ensure that our code works on longform dates. This will save us the headache of trying to solve multiple data problems simultaneously.

Now, we'll try to convert these dates.

In [ ]:
# In this cell, we want to write over the date field only.
# We'll first try using datetime.
test['date'] = datetime.strptime(test['date'], '%B %d, %Y')

# The first argument, test['date'], is the column we want to convert.
# The second argument, '%B %d, %Y', is the format datetime should receive in order to make the conversion.

# Looking at datetime's documentation online, we can learn
# %B == Name of the month (October, May, etc.)
# %d == The day of the month
# %Y == The year.

test

Our first argument is called a TypeError. At first, it looks like there's a lot of information here. Often, the best starting point is near the bottom where the error name appears.

TypeError: strptime() argument 1 must be str, not Series.

TypeErrors refer to errors when a function receives a data type (string, integer, etc.) that does not work with the function. In this case, strptime() expects a string (str) in the first argument position. Instead, we gave the function a Series ("not Series"). When I encounter an error, I often copy and paste the entire error type and explanation (TypeError: strptime()...not Series) into an internet search.

The first result when I do that with this error is:

```python
train['date1'] = train['ID'].apply(lambda x: datetime.strptime(x, '%Y%m%d%H'))
```

We can recognize most of this code's structure. It similarly tries to write a column (date1) from another column. Although we're writing over the same column, the logic is the same. We can even see at the end of the line the datetime.strptime() function we tried to call.

The new piece for us is the .apply() function. The .apply() is common for dataframes. It essentially says, take a function and apply it to every ("lambda") instance of "x."

We'll try this for our code. The result below should re-write each row in our "date" column with the datetime conversion.

In [ ]:
test['date'] = test['date'].apply(lambda x: datetime.strptime(x, '%B %d, %Y'))

That's even worse! We now have a new error: ValueError. Searching that error online, I find out that strptime has encountered a value that it cannot parse.

Let's look back at our date column to see if there's an anamoly.

In [ ]:
test['date']

We can see that some of these values are not the same format that we told strptime() to expect (i.e., Jun 22, or Mar 21).

This is a common conundrum with data cleaning: we know our data has issues scattered throughout the 40,000+ obersvations, but how do we fix them without going row-by-row? We now know that our date values are not standardized, and we cannot do a simple one-line of code to fix the problem. Fortunately, Python offers a way to work through such issues.

### Try and Except

Python has a way to tell your code to attempt something (try) and what to do if that code encounters an (error). Try and except will allow us to work through cleaning problems more effectively.

In [ ]:
# We'll start with the same line of code we tweaked from the internet.
try:
    test['date'] = test['date'].apply(lambda x: datetime.strptime(x, '%B %d, %Y'))
    
# We'll now tell Python what to do if there's an error.
# We can also specify the error that we might encounter.
except ValueError:
#     We'll use "pass," which simply means if there's a ValueError, do nothing and pass to the next.
    pass

test